<div class="start-container d-flex align-center" style="--width: {{rating}}px" (click)="handleClickStart()">
    <div class="start-block">
        <i class="fa-sharp fa-solid fa-star"></i>
    </div>
    <div class="start-block">
        <i class="fa-sharp fa-solid fa-star"></i>
    </div>
    <div class="start-block">
        <i class="fa-sharp fa-solid fa-star"></i>
    </div>
    <div class="start-block">
        <i class="fa-sharp fa-solid fa-star"></i>
    </div>
    <div class="start-block">
        <i class="fa-sharp fa-solid fa-star"></i>
    </div>
</div>
